---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
        files: ^((ai_advent)/.+)?[^/]+\.(py|pyi)$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --exclude-file=uv.lock
          - --quiet-level=2
        exclude_types: [csv, json, html]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=master
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.8.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      # pre-commit run --hook-stage manual python-typing-update --all-files
      - id: python-typing-update
        stages: [manual]
        args:
          - --py311-plus
          - --force
          - --keep-updates
        files: ^(ai_advent|tests|scripts)/.+\.py$
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.25
    hooks:
      - id: uv-lock
        files: ^(pyproject\.toml|uv\.lock)$
  - repo: local
    hooks:
      # Needs uv installed globaly
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        require_serial: true
        types_or: [python, pyi]
        files: ^(ai_advent)/.+\.(py|pyi)$
      - id: pylint
        name: pylint
        entry: uv run pylint
        language: system
        require_serial: true
        types_or: [python, pyi]
        files: ^(ai_advent)/.+\.(py|pyi)$
